# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore logs
*.log

# Ignore environment files
backend/.env
frontend/.env

# Ignore build outputs
frontend/dist/
backend/dist/

# Ignore system files
.DS_Store
